{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "php://stdout",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\\\assert\\(.+\\);",
            "\\$consumed ..?= .+;"
        ],
        "FunctionCallRemoval": {
            "ignoreSourceCodeByRegex": [
                "sodium_memzero\\(.+\\);"
            ]
        },
        "LessThanOrEqualTo": {
            "ignoreSourceCodeByRegex": [
                "while \\(self::ENCRYPT_READ_BYTES <= \\\\strlen\\(\\$this->buffer\\) || \\$closing\\) {"
            ]
        },
        "TrueValue": {
            "ignoreSourceCodeByRegex": [
                "self::\\$filterRegistered = true;"
            ]
        },
        "UnwrapSubstr": {
            "ignoreSourceCodeByRegex": [
                ".+ = substr\\(\\$this->buffer,( 0,)? \\$(read|write)ChunkSize\\);"
            ]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
